dummy-data.sql*
po/*.mo
po/*.po~
po/POTFILES
web/locale/*/
aur.git/
__pycache__/
*.py[cod]
test/test-results/
test/trash directory*
schema/aur-schema-sqlite.sql
data.sql
aurweb.sqlite3
conf/config
htmlcov/
fastapi_aw/
.vim/
.pylintrc
.coverage
