Andrea Scarpino <andrea@archlinux.org> <bash.lnx@gmail.com>
Cilyan Olowen <gaknar@gmail.com> <come@cilyan.local>
Denis Kobozev <d.v.kobozev@gmail.com>
eliott <eliott@cactuswax.net> <elij.mx@gmail.com>
Giovanni Scafora <giovanni@archlinux.org> <linuxmania@gmail.com>
Jason Chu <jason@archlinux.org> <jchu>
Laszlo Papp <djszapi@archlinux.us> <djszapi2@gmail.com>
Lukas Fleischer <lfleischer@archlinux.org> <archlinux@cryptocrack.de>
Mod Gao <mod.gao@gmail.com>
Mod Gao <mod.gao@gmail.com> <mod.gao@gmail,com>
Paul Mattal <paul@mattal.com> <pjmattal>
Paul Mattal <paul@mattal.com> <pjmattal@brahms.out.elys.com>
Paul Mattal <paul@mattal.com> <pjmattal@pedantic.in.mattal.com>
Sergej Pupykin <sergej.pupykin@lx-ltd.ru> <ps@lx-ltd.ru>
Simo Leone <simo@archlinux.org> <simo>
Thayer Williams <thayer@archlinux.org> <thayerw@gmail.com>
