language: python

python: 3.6

addons:
    apt:
        packages:
        - bsdtar
        - libarchive-dev
        - libgpgme11-dev
        - libprotobuf-dev

install:
    - curl https://codeload.github.com/libgit2/libgit2/tar.gz/v0.26.0 | tar -xz
    - curl https://sources.archlinux.org/other/pacman/pacman-5.0.2.tar.gz | tar -xz
    - curl https://git.archlinux.org/pyalpm.git/snapshot/pyalpm-0.8.1.tar.gz | tar -xz
    - ( cd libgit2-0.26.0 && cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=/usr && make && sudo make install )
    - ( cd pacman-5.0.2 && ./configure --prefix=/usr && make && sudo make install )
    - ( cd pyalpm-0.8.1 && python setup.py build && python setup.py install )
    - pip install mysql-connector-python-rf pygit2==0.26 srcinfo
    - pip install bleach Markdown

script: make -C test
