<div id="archdev-navbar">
    <ul>
        {% if request.user.is_authenticated() %}
            <li><a href="/">{% trans %}Dashboard{% endtrans %}</a></li>
        {% else %}
            <li><a href="/">AUR {% trans %}Home{% endtrans %}</a></li>
        {% endif %}
        <li><a href="/packages">{% trans %}Packages{% endtrans %}</a></li>
        {% if request.user.is_authenticated() %}
            <li>
                <a href="/requests">
                    {% trans %}Requests{% endtrans %}
                </a>
            </li>
            {% if request.user.is_trusted_user() or request.user.is_developer() %}
                <li>
                    <a href="/accounts">
                        {% trans %}Accounts{% endtrans %}
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="/account/{{ request.user.Username }}/edit">
                    {% trans %}My Account{% endtrans %}
                </a>
            </li>

            {% if request.user.is_trusted_user() %}
                <li>
                    <a href="/tu">{% trans %}Trusted User{% endtrans %}</a>
                </li>
            {% endif %}

            <li>
                <a href="/logout?next={{ next }}">
                    {% trans %}Logout{% endtrans %}
                </a>
            </li>
        {% else %}
            <li>
                <a href="/register">
                    {% trans %}Register{% endtrans %}
                </a>
            </li>
            <li>
                <a href="/login?next={{ next }}">
                    {% trans %}Login{% endtrans %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
