<div id="archdev-navbar">
    <ul>
        {% if request.user.is_authenticated() %}
            <li><a href="/">{% trans %}Dashboard{% endtrans %}</a></li>
        {% else %}
            <li><a href="/">AUR {% trans %}Home{% endtrans %}</a></li>
        {% endif %}
        <li><a href="/packages/">{% trans %}Packages{% endtrans %}</a></li>
        <li><a href="/register/">{% trans %}Register{% endtrans %}</a></li>
        <li>
            {% if request.user.is_authenticated() %}
                <a href="/logout/?next={{ next }}">
                    {% trans %}Logout{% endtrans %}
                </a>
            {% else %}
                <a href="/login/?next={{ next }}">
                    {% trans %}Login{% endtrans %}
                </a>
            {% endif %}
        </li>
    </ul>
</div>
