<head>
    {% include 'partials/meta.html' %}

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/archweb.css">
    <link rel="stylesheet" href="/static/css/aurweb.css">

    <!-- Resources -->
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <!-- Alternate resources -->
    <link rel="alternate" type="application/rss+xml"
          title="Newest Packages RSS" href="/rss">

    <!-- Include local typeahead -->
    <script type="text/javascript" src="/static/js/typeahead.js"></script>

    <title>AUR ({{ language }}) - {{ title | tr }}</title>
</head>
