<div id="archnavbar" class="anb-aur">
    <div id="archnavbarlogo">
        <h1>
            <a href="/" title="Return to the main page">{% trans %}Arch Linux User Repository{% endtrans %}</a>
        </h1>
    </div>
    <div id="archnavbarmenu">
        <ul id="archnavbarlist">
            <li id="anb-home"><a href="https://www.archlinux.org/" title="Arch news, packages, projects and more">{% trans %}Home{% endtrans %}</a></li>
            <li id="anb-packages"><a href="https://www.archlinux.org/packages/" title="Arch Package Database">{% trans %}Packages{% endtrans %}</a></li>
            <li id="anb-forums"><a href="https://bbs.archlinux.org/" title="Community forums">{% trans %}Forums{% endtrans %}</a></li>
            <li id="anb-wiki"><a href="https://wiki.archlinux.org/" title="Community documentation">{% trans %}Wiki{% endtrans %}</a></li>
            <li id="anb-gitlab"><a href="https://gitlab.archlinux.org/archlinux" title="GitLab">{% trans %}GitLab{% endtrans %}</a></li>
            <li id="anb-security"><a href="https://security.archlinux.org/" title="Arch Linux Security Tracker">{% trans %}Security{% endtrans %}</a></li>
            <li id="anb-aur"><a href="/" title="Arch Linux User Repository">AUR</a></li>
            <li id="anb-download"><a href="https://www.archlinux.org/download/" title="Get Arch Linux">{% trans %}Download{% endtrans %}</a></li>
        </ul>
    </div>
</div>
