<div id="my-stats" class="widget box">
    <h3>{{ "My Statistics" | tr }}</h3>

    <table>
        <tbody>
            <tr>
                <td>
                    <a href="/packages/?SeB=m&K={{ request.user.Username }}">
                        {{ "Packages" | tr }}
                    </a>
                </td>
                <td>{{ maintained_bases_count }}</td>
            </tr>
            <tr>
                <td>
                    <a href="/packages/?SeB=m&outdated=on&K={{ request.user.Username }}">
                        {{ "Out of Date" | tr }}
                    </a>
                </td>
                <td>{{ maintained_bases_out_of_date_count }}</td>
            </tr>
        </tbody>
    </table>

</div>
