/* AUR-specific customizations to "archweb.css". */
#lang_sub {
  float: right;
}

.pkglist-nav .page {
    margin: 0 .25em;
}

#pkg-updates td.pkg-new {
  padding: 0 .5em;
}

#pkg-stats td.stat-desc {
  white-space: normal;
}
