{% extends "partials/layout.html" %}

{% block pageContent %}
    <div class="box">
        <h2>
            {{ "Votes" | tr }} for
            <a href="/pkgbase/{{ pkgbase.Name }}">
                {{ pkgbase.Name }}
            </a>
        </h2>

        <div class="boxbody">
            <ul>
                {% for pkg_vote in pkgbase.package_votes %}
                    <li>
                        <a href="/account/{{ pkg_vote.User.Username }}">
                            {{ pkg_vote.User.Username }}
                        </a>

                        {% set voted_at = pkg_vote.VoteTS | dt | as_timezone(timezone) %}
                        ({{ voted_at.strftime("%Y-%m-%d %H:%M") }})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
