{% extends 'partials/layout.html' %}

{% block pageContent %}
    <div id="content-left-wrapper">
        <div id="content-left">
            {% if request.user.is_authenticated() %}
                {% include 'dashboard.html' %}
            {% else %}
                {% include 'home.html' %}
            {% endif %}
        </div>
    </div>
    <div id="content-right">
        {% include 'partials/packages/widgets/search.html' %}
        {% include 'partials/packages/widgets/updates.html' %}
        {% include 'partials/packages/widgets/statistics.html' %}
    </div>

{% endblock %}
