{% extends "partials/layout.html" %}

{% block pageContent %}
    {% include "partials/packages/search.html" %}
    <div id="pkgdetails" class="box">
        <h2>Package Details: {{ pkgbase.Name }}</h2>

        {% set result = pkgbase %}
        {% set pkgname = "result.Name" %}
        {% include "partials/packages/package_actions.html" %}

        <table id="pkginfo">
            <tr>
                <th>{{ "Git Clone URL" | tr }}:</th>
                <td>
                    <a class="copy" href="{{ git_clone_uri_anon | format(pkgbase.Name) }}">{{ git_clone_uri_anon | format(pkgbase.Name) }}</a> ({{ "read-only" | tr }}, {{ "click to copy" | tr }})
                    {% if is_maintainer %}
                        <br /> <a class="copy" href="{{ git_clone_uri_priv | format(pkgbase.Name) }}">{{ git_clone_uri_priv | format(pkgbase.Name) }}</a> ({{ "click to copy" | tr }})
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>{{ "Keywords" | tr }}:</th>
                {% if is_maintainer %}
                <td>
                    <form method="post" action="/pkgbase/{{ pkgbase.Name }}/">
                        <div>
                            <input type="hidden" name="action" value="do_SetKeywords" />
                            <input type="text" name="keywords" value="{{ pkgbase.keywords | join(' ', attribute='Keyword') }}"/>
                            <input type="submit" value="Update"/>
                        </div>
                    </form>
                </td>
                {% else %}
                <td>
                    {% for item in pkgbase.keywords %}
                    <a class="keyword" href="/packages/?K={{ item.Keyword }}&amp;SB=p">{{ item.Keyword }}</a>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            <tr>
                <th>{{ "Submitter" | tr }}:</th>
                <td>{{ pkgbase.Submitter.Username | default("None") }}</td>
            </tr>
            <tr>
                <th>{{ "Maintainer" | tr }}:</th>
                <td>{{ pkgbase.Maintainer.Username | default("None") }}</td>
            </tr>
            <tr>
                <th>{{ "Last Packager" | tr }}:</th>
                <td>{{ pkgbase.Packager.Username | default("None") }}</td>
            </tr>
            <tr>
                <th>{{ "Votes" | tr }}:</th>
                <td>{{ pkgbase.NumVotes }}</td>
            </tr>
            <tr>
                <th>{{ "Popularity" | tr }}:</th>
                <td>{{ '%0.2f' % pkgbase.Popularity | float }}</td>
            </tr>
            <tr>
                {% set submitted = pkgbase.SubmittedTS | dt | as_timezone(timezone) %}
                <th>{{ "First Submitted" | tr }}:</th>
                <td>{{ "%s" | tr | format(submitted.strftime("%Y-%m-%d %H:%M")) }}</td>
            </tr>
            <tr>
                <th>{{ "Last Updated" | tr }}:</th>
                {% set updated = pkgbase.ModifiedTS | dt | as_timezone(timezone) %}
                <td>{{ "%s" | tr | format(updated.strftime("%Y-%m-%d %H:%M")) }}</td>
            </tr>
        </table>

        <div id="metadata">
            <div id="pkgs" class="listing">
                <!-- This needs to be replaced with the real implementation. -->
                <h3>Packages ({{ packages_count }})</h3>
                <ul>
                    {% for result in packages %}
                        <li>
                            <a href="/packages/{{ result.Name }}/"
                               title="{{ 'View packages details for' | tr }} {{ result.Name }}">
                                {{ result.Name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% set pkgname = result.Name %}
    {% set pkgbase_id = result.ID %}
    {% set comments = comments %}
    {% include "partials/packages/comments.html" %}
{% endblock %}
