{% extends "partials/layout.html" %}

{% block pageContent %}
    <div class="box">
        <h2>{% trans %}Register{% endtrans %}</h2>

        {% if complete %}
            {{
                "The account, %s%s%s, has been successfully created."
                | tr
                | format("<strong>", "'" + user.Username + "'", "</strong>")
                | safe
            }}
            <p>
                {% trans %}A password reset key has been sent to your e-mail address.{% endtrans %}
            </p>
        {% else %}
            {% if errors %}
                {% include "partials/error.html" %}
            {% else %}
                <p>
                    {% trans %}Use this form to create an account.{% endtrans %}
                </p>
            {% endif %}

            {% set form_type = "NewAccount" %}
            {% include "partials/account_form.html" %}
        {% endif %}
    </div>
{% endblock %}
